body {
  background: linear-gradient(135deg, #e0f7fa 0%, #fffde4 100%);
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.contenedor {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  border-radius: 16px; /* Bordes redondeados */
  padding: 30px; /* Espaciado interno */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Sombra elegante */
  max-width: 800px; /* Ancho máximo */
  width: 90%; /* Que se ajuste en móviles */
  text-align: center; /* Centra texto dentro */
}

h1 {
  color: #00796b;
  text-align: center;
  margin-top: 40px;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px #b2dfdb;
}

h2 {
  color: #388e3c;
  text-align: center;
  margin-top: 20px;
  font-size: 1.7em;
}

h3 {
  color: #0288d1;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
}

img {
  display: block;
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: 0 8px 24px rgba(44, 62, 80, 0.15);
  border: 4px solid #b2ebf2;
  max-width: 60%;
  height: auto;
  width: auto;
}

p {
  text-align: center;
  color: #455a64;
  font-size: 1.1em;
  margin-top: 30px;
  background: #a4c9da;
  padding: 12px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  p {
    width: 90%;
    font-size: lem;
  }
}
